.courses {
  margin: 0;
  margin-bottom: 120px;
  padding-top: 90px;

  // .swiper-slide {
  //   display: block;
  //   height: 75%;
  // }
}

.courses__heading {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Myriad", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #253131;
  text-align: center;
}

.swiper-wrapper {
  padding: 20px 0;
}

.courses__desc {
  display: block;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 52px;
  font-family: "Myriad", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(37, 49, 49, 0.7);
}

.courses__list {
  margin: 0 auto;
  margin-bottom: 60px;
}

.courses__item {
  margin: 0;
  padding: 0px;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.coureses__item__img {
  margin-bottom: 24px !important;
}

.courses__item__info-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box__heading {
  display: block;
  margin: 0;
  font-family: "Myriad", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #253131;
}

.info-box__desc {
  margin: 0;
  margin-left: 10px;
  font-family: "Myriad", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(37, 49, 49, 0.7);
}

.controllers {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 0 auto;
}

.controllers-btn {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  background: #fdc332;
  border: none;
}

.controllers-btn:disabled {
  background: rgba(37, 49, 49, 0.1);
}

@include media-max(940px) {
  .courses__heading {
    font-size: 32px;
  }

  .courses__list {
    width: 100%;
    max-width: 900px;
  }

  .courses__item {
    padding-bottom: 10px;
  }

  .courses__item__info-box {
    padding: 5px;
  }

  .info-box__heading {
    display: block;
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #253131;
  }

  .info-box__desc {
    margin: 0;
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: rgba(37, 49, 49, 0.7);
  }
}

@include media-max(920px) {
  .courses__item__info-box {
    flex-direction: column;
    padding-left: 15px;
  }

  .coureses__item__img {
    margin-bottom: 10px !important;
  }

  .info-box__desc {
    margin-left: 0;
  }
}
